
@{
    ViewBag.Title = "Restringido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="min-height: 956px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Registro de Tareas
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <img src="~/Content/img/area_restringida.jpg" />

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

